<div class="title">
  <h4><%= @concours.title %></h4>
</div>
<div class="newspaper justify">
  <% if @concours.avatar.present? %>
  <div class="avatar"><%= image_tag @concours.avatar.url(:thumb), size: "100x100" %></div>
  <% end %>
  <%#= sanitize truncate(@concours.content, omision: "...", length: 2500), :tags => %w(h) %>
  <%= (ActionView::Base.full_sanitizer.sanitize(@concours.content).truncate(1200, omission: '...')).html_safe %>
  <div style="text-align:right;"><%= link_to 'Continuer', @concours %></div>
</div>
<br>
<hr>
