<% title "Courrier de Moldavie - page d'accueil" %>
<div class="row">
  <div class="span7">
    <%#= render 'concours' %>
  </div>
</div>
<% if @concours.present? %>
<div class="row">
  <div class="span7">
    <%= render 'last_edition' %>
  </div>
</div>
<% end %>
<div class="page-header"></div>
<h4>Articles recommandé</h4>
<div class="row">
  <% if @recomends.present? %>
    <%= render 'recommended' %>
  <% else %>
    <h5>Il n'y a pas encore d'articles recommandés</h5>
  <% end %>
</div>
