<!-- Sub Menu -->
<div id="sub-menu-container">
  <div id="sub-menu">
    <div id="sub-menu-left-nav">
      <a href="#">left</a>
    </div>

    <div id="sub-menu-right-nav">
      <a href="#">right</a>
    </div>

    <div id="sub-menu-ul-container">
      <ul>
        <li><a href="#">Popular</a></li>
        <li><a href="#">Newest</a></li>
        <li><a href="#">Most Commented</a></li>
        <li><a href="#">Latest</a></li>
        <li><a href="#">Submenu</a></li>
        <li><a href="#">Another Sub</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Options</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sub Menu -->
